* {
 margin:0;
 padding:0;
 box-sizing:border-box;
}

header{
    font-size: 3em;
}

header, form{
    min-height:30vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

body{
    background-image: white;
}

form input{
    border:solid;
}

form input, form button{
    padding:0.5em;
    background:white;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
form button{
    border: solid;
    display: flex;
    margin: 4px;
}

form button{
    cursor: pointer;
}

.todo {
    margin: 0.5rem;
    background: white;
    font-size: 1.5rem;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 1s ease;
  }

  .todo li {
    flex: 1;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }